div {
	background: red;
	color: white;
	text size: 32px ;
	text-align: center;
	font-weight: bold;

}
button.checkout:hover {
	background-color: white;
}

.odd {
  background-color: rgb(255, 167, 167);
  font-family: Verdana, DejaVu Sans, sans-serif;
  display: inline-block;
  
}

.oddly-cool {
  font-size: 24px;
}

#two {
  color: #0000ff;
  font-size: 36px;
}

#four {
  background-color: hsl(120, 100%, 75%);
  font-size: 24px;
  font-weight: bold;
}